<div class="content-container d-flex justify-content-between">
    <div class="container-dragons col-8">
        <%= render partial: 'list' %>
    </div>
    <div class = 'map-container col-4'>
      <%= render partial: 'map' %>
    </div>

</div>




