<h1>Dragons#show</h1>
<p>Find me in app/views/dragons/show.html.erb</p>

 <div class="dragon">
    <h1> <%= @dragon.name %> </h1>
    <% if @dragon.photo.attached? %>
        <%= cl_image_tag @dragon.photo.key, height: 600, width: 400, crop: :fill %>
      <% else %>
        <%= cl_image_tag 'nvou98k9mzayc2m57bm1', height: 600, width: 400, crop: :fill %>
    <% end %>
  </div>


