// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #272822;

// /* Color Theme Swatches in Hex */
// $Game-of-Thrones---Emblems-1-hex: #BF343F;
// $Game-of-Thrones---Emblems-2-hex: #E4E4F2;
// $Game-of-Thrones---Emblems-3-hex: #D97925;
// $Game-of-Thrones---Emblems-4-hex: #D98943;
// $Game-of-Thrones---Emblems-5-hex: #A6431F;
