// Specific CSS for your home-page
// .cards-landing {
//   display: flex;
//   justify-content: space-between;
// }

.card-landing {
  margin: 50px auto;
  width: 800px;
  padding: 20px;
  border: 1px solid #3E4E50;
  text-align: center;
  background-color: #FBFFFE;
  border-radius: 5px;
}

.card-landing img {
  height: 100px;
}
