<% @dragon.bookings.each do |booking| %>
  <ul>
    <li><strong>Rider:</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></li>
    <li><strong>Start date:</strong> <%= booking.start_date %></li>
    <li><strong>End date:</strong>  <%= booking.end_date %></li>
    <li><% booking.countdown %></li>
  </ul>
<% end %>
