<div>
  <% @dragon.bookings.each do |booking| %>
    <ul>
      <li><%= booking.user.first_name %> <%= booking.user.last_name %></li>
      <li><%= booking.start_date %></li>
      <li><%= booking.end_date %></li>
    </ul>
  <% end %>
</div>

