<div>
  <% @dragon.bookings.each do |booking| %>
    <ul>
      <li>Rider: <%= booking.user.first_name %> <%= booking.user.last_name %></li>
      <li>Start date: <%= booking.start_date %></li>
      <li>End date: <%= booking.end_date %></li>
    </ul>
  <% end %>
</div>

