<div class="main">
  <div class="hero">
    <h1>DRAGONS 'Я' US</h1>
    <h3>Your journey begins here...</h3>
    <%= link_to dragons_path do %>
      <span style="font-family: 'Marcellus';" class="btn btn-light">SHOW ME SOME DRAGONS!</span>
    <% end %>
  </div>

  <div style="text-align: center;">
    <h2 class="mt-3 mb-3" style="color: white; font-family: 'Marcellus';">What we provide</h2>
    <div class="cards-landing">
      <div class="card-landing">
        <img src="http://dragonsworldguide.com/images/dragons/full/png256/mithril-dragon.png" alt="Broken :(">
        <h3>Uniqueness</h3>
        <p>The only web App that let's you have access to real life dragons...</p>
      </div>
      <div class="card-landing">
        <img src="http://dragonsworldguide.com/images/dragons/full/png256/mangrove-dragon.png" alt="Broken :(">
        <h3>Dragons</h3>
        <p>These AMAZING magical creatures are finally accessible at the distance of a click 🖱</p>
      </div>
      <div class="card-landing">
        <img src="http://dragonsworldguide.com/images/dragons/full/png256/blue-winged-dragon.png" alt="Broken :(">
        <h3>Fun</h3>
        <p>Have the trip of your life by renting and flying on the dragon of your dreams!</p>
      </div>
      <div class="card-landing">
        <img src="https://vignette.wikia.nocookie.net/dragons-world/images/3/34/MothDragonStore.png/revision/latest/scale-to-width-down/340?cb=20160808184047" alt="Broken :(">
        <h3>Bookings</h3>
        <p>Simple and fast system that allows you to book your favourite dragons for an emersive ride 🐉</p>
      </div>
    </div>
  </div>
</div>
