
.btn {
  padding: 5px 8px;
  font-size: 10px;
  cursor: pointer;
  position: relative;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  margin: 2px;
  font-family: 'Marcellus', serif;
  white-space: nowrap;
}
.btn--border::after, .btn--border::before,
.btn--border span::after,
.btn--border span::before {
  content: "";
  position: absolute;
  background-color: rgb(146, 58, 73);
  transition: 0.5s ease;
}
.btn--border::after, .btn--border::before {
  height: 100%;
  width: 2px;
  top: -2px;
}
.btn--border::after {
  left: -2px;
}
.btn--border::before {
  right: -2px;
}
.btn--border span::after,
.btn--border span::before {
  height: 2px;
  width: 100%;
  left: -2px;
}
.btn--border span::after {
  top: -2px;
}
.btn--border span::before {
  bottom: -2px;
}
.btn--border:hover:after {
  transform: translatex(-6px);
}
.btn--border:hover:before {
  transform: translatex(-6px);
}
.btn--border:hover span::after {
  transform: translatey(-6px);
}
.btn--border:hover span::before {
  transform: translatey(6px);
}
.btn--swap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 15px;
  box-sizing: border-box;
  opacity: 0;
  color: white;
  transition: 0.35s ease;
}
.btn--swap::before {
  border: black;
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgb(146, 58, 73);
  transition: 0.5s ease;
}
.btn--swap:hover:before {
  width: 100%;
}
.btn--swap:hover span {
  opacity: 1;
}
