.dragon {
  height: 550px;
  width: 1100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 20px auto;
  margin-top: 60px;
  border-radius: 5px;
}

.dragon .dragon-image {
  object-fit: cover;
  margin-right: 20px;
  margin: 0px 20px 0px 0px;
}

.dragon-image {
  border-radius: 5px;
}

.dragon-card-info {
  width: 700px;
  justify-content: space-between;
}

.dragon-card-info ul{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.dragon-card-info li {
  color: gray;
  font-family: sans-serif;
  font-size: 18px;
}

.icons ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}


.icons i {
  color: #E67E22;
}

.dragon-card-info h1 {
  font-family: 'Marcellus';
  font-size: 50px;
  font-weight: bold;
  margin: 10px 2px 30px 0px;
  color: #E67E22;
  flex-grow: 1;
}

  h5 {
  font-family: 'Marcellus';
  font-size: 25px;
  font-weight: bold;
  margin: 10px 2px 10px 0px;
  color: #E67E22;
}

.map-show {
  margin-left: 20px;
  width: 300px;
  height: 250px !important;
}


.booking-shit {
  margin-top: 20px;
  justify-content: space-between;
  margin-right: 10px;
}

.edit-buttons {
  list-style: none;
  font-size: 20px;
}

.price p{
  margin-top: 50px;
  font-size: 22px;
}




