.card-dragon {
  height: 200px;
  width: 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-dragon img {
  height: 180px;
  width: 100px;
  object-fit: cover;
  margin: 10px 10px;
}

.card-dragon h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 2px 2px 20px 0px;
}

.card-dragon ul {
  margin-left: 0px;
  padding-left: 0px;
}

.card-dragon li {
  font-size: 12px;
  list-style: none;
}

.card-dragon .dragon-info {
  padding: 8px;
}
