.container-bookings {
  width: 1000px;
  height: 600px;
  margin: 20px auto;
  background-color: white;
}

.container-bookings h1 {
  text-align: center;
  font-family: 'Marcellus';
  color: #E67E22;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-left: 40px;
}

.container-bookings li {
  color: gray;
  margin-right: 100px;
  list-style: none;
  margin-left: 40px;
}
