
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/57/d0/7a/57d07af90d405aa854bf13818dc8fc78.jpg");
  background-size: cover;
  background-position: center;
  padding: 300px;
    h1, h3 {
    font-family: 'Marcellus';
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}

