// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "container-dragons-index";
@import "card-show-dragon";
@import "container-dragons-show";
@import "hero";
@import "calendar";
@import "sidebar";
@import "container-bookings-index";
@import "card-show";
@import "map";

.link-simple {
  color: white;
  font-family: 'Marcellus';
  text-decoration: none;
  color: #818181;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.text-simple {
  color: white;
  font-family: 'Marcellus';
  text-decoration: none;
  color: #818181;
}
