.navbar {
  padding: 0 16px 0 0;

  li {
    color: white;
    font-family: 'Marcellus';
  }

  a {
    text-decoration: none;
    color: #818181;
    transition: color 0.5s ease;
    &:hover {
      color: white;
    }
  }
}

.navbar-lewagon {
  justify-content: space-between;
  height: 48px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
