.dragons-navbar {
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 10px 16px 0 0;
  user-select: none;
  background-color: rgba(17, 17, 17, 0.8);
    color: white;

  .user-dropdown {
    font-family: 'Marcellus';
  }

  a {
    text-decoration: none;
    color: #818181;
    transition: color 0.5s ease;
    &:hover {
      color: white;
    }
  }
} 
